In [76]:
import pandas as pd
from API import glAPIscr
import gitlab
import json
import requests
from datetime import datetime, timedelta

In [80]:
host = 'http://192.168.64.10'
token = 'glpat-Njrzxsd7tU_uriqGfZuF'

gl = gitlab.Gitlab(url=host, private_token=token)

In [3]:
df = pd.read_csv('Data/evolved_dataset.csv')

In [4]:
df

               source                                    target
0     u: vim-sroberge                             r: vimaec/g3d
1     u: vim-sroberge                             r: vimaec/g3d
2     u: vim-sroberge                             r: vimaec/g3d
3     u: vim-sroberge                             r: vimaec/g3d
4         u: mavimaec                             r: vimaec/g3d
...               ...                                       ...
1678        u: raisjn                       r: flaechsig/cobolj
1679        u: jbyibm  r: IBM/zOS-Client-Web-Enablement-Toolkit
1680    u: AlbGarciam                   r: RuchikaL11/sonar_try
1681     u: shalom938                     r: AkinJimoh/aj-soner
1682       u: fsniper                     r: ShellShockQ/MARBLE

[1683 rows x 2 columns]

In [5]:
# pull_request(gl, user_name, project_name_with_namespace):
glAPIscr.pull_request(gl, 0 , 0, 'vim-sroberge', 'vimaec/g3d')

09/26/2022 05:17:22 AM - INFO "Reg":0,"Attempt":0, "Message":Creating pull request
09/26/2022 05:17:26 AM - INFO "Reg":0,"Attempt":0, "Message":Attempting to create pull request

In [63]:
api_endpoint = 'http://localhost:9090/api/v1/query'
params = {}
params['query'] = 'sum by (le) (rate(gitlab_workhorse_http_request_duration_seconds_bucket{instance=~"localhost:9229"}[1h]))'
params['start'] = datetime('2022-09-26T01:10:00Z').timestamp()
params['end']   = datetime('2022-09-26T06:40:00Z').timestamp()
params['step']  = timedelta('30s').total_seconds()
params

{'query': 'sum by (le) (rate(gitlab_workhorse_http_request_duration_seconds_bucket{instance=~"localhost:9229"}[1h]))',
 'start': '2022-09-26T01:10:00Z',
 'end': '2022-09-26T06:40:00Z'}

In [64]:
response = requests.get(api_endpoint, params=params)

In [65]:
response.reason

'OK'

In [66]:
data = json.loads(response.text)#['data']['result']
data

{'status': 'success',
 'data': {'resultType': 'vector',
  'result': [{'metric': {'le': '0.1'}, 'value': [1664173649.838, '0']},
   {'metric': {'le': '0.5'}, 'value': [1664173649.838, '0']},
   {'metric': {'le': '30'}, 'value': [1664173649.838, '0']},
   {'metric': {'le': '+Inf'}, 'value': [1664173649.838, '0']},
   {'metric': {'le': '0.005'}, 'value': [1664173649.838, '0']},
   {'metric': {'le': '10'}, 'value': [1664173649.838, '0']},
   {'metric': {'le': '300'}, 'value': [1664173649.838, '0']},
   {'metric': {'le': '60'}, 'value': [1664173649.838, '0']},
   {'metric': {'le': '0.025'}, 'value': [1664173649.838, '0']},
   {'metric': {'le': '1'}, 'value': [1664173649.838, '0']}]}}

In [67]:
1/0

ZeroDivisionError: division by zero

In [51]:
# https://github.com/dcoles/prometheus-pandas
from prometheus_pandas import query

In [52]:
p = query.Prometheus('http://localhost:9090')

In [56]:
req_query = 'sum by (le) (rate(gitlab_workhorse_http_request_duration_seconds_bucket{instance=~"localhost:9229"}[1m]))'

In [57]:
p.query(req_query)

{le="1"}        0.0
{le="300"}      0.0
{le="+Inf"}     0.0
{le="0.1"}      0.0
{le="0.5"}      0.0
{le="30"}       0.0
{le="60"}       0.0
{le="0.005"}    0.0
{le="0.025"}    0.0
{le="10"}       0.0
dtype: float64

In [74]:
p.query_range(req_query, '2022-09-26T01:00:00Z','2022-09-26T23:00:00Z','15m')

,"{le=""+Inf""}","{le=""0.005""}","{le=""0.025""}","{le=""0.1""}","{le=""0.5""}","{le=""1""}","{le=""10""}","{le=""30""}","{le=""300""}","{le=""60""}"
2022-09-26 01:15:00,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2022-09-26 01:30:00,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2022-09-26 01:45:00,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2022-09-26 02:00:00,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2022-09-26 02:15:00,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2022-09-26 02:30:00,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2022-09-26 02:45:00,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2022-09-26 03:00:00,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2022-09-26 03:15:00,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2022-09-26 03:30:00,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2022-09-26 03:45:00,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2022-09-26 04:00:00,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2022-09-26 04:15:00,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2022-09-26 04:30:00,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2022-09-26 04:45:00,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2022-09-26 05:00:00,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2022-09-26 05:15:00,0.155566,0.0,0.0,0.088895,0.155566,0.155566,0.155566,0.155566,0.155566,0.155566
2022-09-26 05:30:00,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2022-09-26 05:45:00,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2022-09-26 06:00:00,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2022-09-26 06:15:00,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2022-09-26 06:30:00,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000