In [1]:
%load_ext watermark
import pandas as pd
import numpy as np
import time
import json
from API.gitlab_api_src_v2 import gitlab_flow

In [2]:
%watermark -u -n -t -z -a 'Francisco Zanartu' -v -m -iv

Author: Francisco Zanartu

Last updated: Wed Jan 04 2023 04:57:09UTC

Python implementation: CPython
Python version       : 3.8.15
IPython version      : 8.7.0

Compiler    : GCC 10.4.0
OS          : Linux
Release     : 5.15.0-56-generic
Machine     : aarch64
Processor   : aarch64
CPU cores   : 4
Architecture: 64bit

pandas: 1.5.2
numpy : 1.23.5
json  : 2.0.9

In [3]:
# Instanciate our library wrapper class
host = 'http://localhost'
token = 'glpat-BQH9nrTnoM7MbDis1BF5'
gf = gitlab_flow(host=host, token=token)

In [5]:
# Read the whole dataset and filter relevant columns
ds = pd.read_csv('Data/Original_dataset.csv')
ds['source'] = ds['source'].apply(lambda x: x[3:])
ds['target'] = ds['target'].apply(lambda x: x[3:])
ds

,source,target,type
0,fortiz,fortiz/sat,PushEvent
1,CarlosAlbertoFigueiredo,CarlosAlbertoFigueiredo/ServidorGit,PushEvent
2,BernardTatin,BernardTatin/ideal-cobol,PushEvent
3,juliozohar,juliozohar/Aleph-Mainframe,PushEvent
4,dbarelop,dbarelop/SLEG-1516,PushEvent
...,...,...,...
201978,karthikvee,rightfold,FollowEvent
201979,karthikvee,phanikiran99,FollowEvent
201980,karthikvee,jgretriever,FollowEvent
201981,karthikvee,mharth,FollowEvent
201982,karthikvee,Sn3akyP3t3,FollowEvent

In [6]:
gf.flow(ds)

201982 FollowEvent created: 100%|█████| 201983/201983 [9:53:23<00:00,  5.67it/s]

In [6]:
es = pd.read_csv('Data/Mutated_dataset.csv')
es['source'] = es['source'].apply(lambda x: x[3:])
es['target'] = es['target'].apply(lambda x: x[3:])
es

,source,target,type
0,fortiz,fortiz/sat,PushEvent
1,CarlosAlbertoFigueiredo,CarlosAlbertoFigueiredo/ServidorGit,PushEvent
2,BernardTatin,BernardTatin/ideal-cobol,PushEvent
3,wuayaba,fortiz/sat,ForkEvent
4,toomastahves,IonicaBizau/node.cobol,WatchEvent
...,...,...,...
533538,karthikvee,jvermontcapone,FollowEvent
533539,karthikvee,jimkaprod,FollowEvent
533540,karthikvee,FraBle,FollowEvent
533541,karthikvee,Sn3akyP3t3,FollowEvent
533542,karthikvee,robled,FollowEvent

In [7]:
gf.flow(es)

533542 FollowEvent created: 100%|████| 533543/533543 [33:16:35<00:00,  4.45it/s]

In [4]:
sd = pd.read_csv('Data/expanded_ds_simple.csv')
sd['source'] = sd['source'].apply(lambda x: x[3:])
sd['target'] = sd['target'].apply(lambda x: x[3:])
sd

,source,target,type
0,fortiz,fortiz/sat,PushEvent
1,CarlosAlbertoFigueiredo,CarlosAlbertoFigueiredo/ServidorGit,PushEvent
2,BernardTatin,BernardTatin/ideal-cobol,PushEvent
3,juliozohar,juliozohar/Aleph-Mainframe,PushEvent
4,dbarelop,dbarelop/SLEG-1516,PushEvent
...,...,...,...
533538,Liampronan,lzyc,FollowEvent
533539,das-vinculum,Object-Bootcamp,FollowEvent
533540,anthonyheckmann,rk13,FollowEvent
533541,artur-augustyniak,danielrohers,FollowEvent
533542,ayld,aragilar,FollowEvent

In [5]:
gf.flow(sd)

NameError: name 'sd' is not defined

In [4]:
rd = pd.read_csv('Data/expanded_ds_random.csv')
rd['source'] = rd['source'].apply(lambda x: x[3:])
rd['target'] = rd['target'].apply(lambda x: x[3:])
rd

,source,target,type
0,fortiz,fortiz/sat,PushEvent
1,CarlosAlbertoFigueiredo,CarlosAlbertoFigueiredo/ServidorGit,PushEvent
2,BernardTatin,BernardTatin/ideal-cobol,PushEvent
3,juliozohar,juliozohar/Aleph-Mainframe,PushEvent
4,dbarelop,dbarelop/SLEG-1516,PushEvent
...,...,...,...
533538,dittos,piotrlewandowski,FollowEvent
533539,lancedikson,ntchambers,FollowEvent
533540,tischda,reviforks,FollowEvent
533541,renemilk,shaundunne,FollowEvent
533542,schisma,LingyuCoder,FollowEvent

In [5]:
gf.flow(rd)

533542 FollowEvent created: 100%|████| 533543/533543 [38:27:07<00:00,  3.85it/s]